
body {
	background: url("../images/alienWorld.jpg") no-repeat;
	font-family: 'Prosto One', cursive;
}

@keyframes scale {
  0% {
    transform: scale(0.9);
  }

  25% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

h1 {
	font-size: 62px;
	margin-top: 10px;
	margin-bottom: 25px;
	color: #00b139;
	text-align: center;
    animation: scale 6s ease-out normal;
}

.player > .stats {
	position: absolute;
	bottom: -42px;
	left: 15px;
	background-color: #8BFFD1;
	width: 150px;
	padding-left: 45px;
	padding-top: 12px;
	line-height: 8px;
	font-weight: bold;
}

#messageRow {
	text-align: center;
	font-weight: bold;
	height: 90px;
	font-size: 25px;
	padding-top: 28px;
	color: #FFE96A;
	line-height: 2px;
	margin-top: 50px;
}

button {
	color: black;
	background-color: #1E91D6;
	font-size: 19px;
	margin: 20px auto 0 auto;
	padding: 12px;
	font-weight: bold;
	line-height: 2px;
}

#battleLabels {
	font-weight: bold;
	font-size: 25px;
	color: #00b139;
	text-align: center;
}

#dance {
	margin-top: 70px;
}

.danceDiv {
	text-align: center;
}

#player1 {
	margin-top: 20px;
}

#playerImg1 {
	height: 150px;
}

#player2 {
	margin-top: 40px;
}

#playerImg2 {
	height: 130px;
}

#player3 {
	margin-top: 50px;
}

#playerImg3 {
	height: 120px;
}

#playerImg4 {
	height: 170px;
}

/*prevents collapse when enemies all chosen*/
#nonbattlePlayers {
	height: 170px;
}

footer {
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: white;
}
	
